body {
  font-family: "Manrope";
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
ul {
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0px;
}
hr {
  color: #d9dee0;
}
.boldText {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #33383a;
}
.regular16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #33383a;
}
.regular14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #33383a;
}
.regular16__gray {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #808588;
}
.bolderText {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.02em;
}
.bigText {
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.02em;
  color: #33383a;
}
.bigWhite {
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.light_gray {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #d9dee0;
}
.light_text {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #808588;
}
.dropdown-toggle {
  width: 200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #33383a;
}
.dropdown-toggle:hover {
  color: #33383a;
}
.modal {
  top: 10%;
}
.modal-dialog {
  width: 50%;
  max-width: 100%;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-toggle span {
  transform: rotate(90deg);
  transition: 0.3s;
}
.rotateTogle.dropdown-toggle span {
  transform: rotate(-90deg);
  transition: 0.3s;
}
.rotateTogle.dropdown-toggle path {
  stroke: #c49a6c;
}
#rotate.rotateTogle {
  color: #c49a6c;
}
button {
  transition: 0.3s;
}
.button_secondary:hover {
  color: #ffffff;
  background: #c49a6c;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
}
.button_secondary:active {
  color: #ffffff;
  background: #bc905f;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
}
.button_primary:hover {
  background: #c49a6c;
  color: #fff;
}
.button_gray-hover {
  background: #d9dee0 !important;
  color: #1c1e1f !important;
}
.button_gray-hover:hover {
  background: inherit !important;
  color: #1c1e1f;
  box-shadow: 0px 0px 0px 1px #1c1e1f !important;
}
.button_gray-hover:active {
  background: #d9dee0 !important;
  box-shadow: 0px 0px 0px 1px #33383a !important;
}

.home-main-slider {
  height: 100vh;
  background-image: url(../images/HomeOneSlider1.jpg);
  background-size: cover;
  color: white;
}
.home-main-slide {
  display: flex;
  justify-content: center;
}
.home-main-slide-wrapper {
  max-width: 610px;
}
.home-main-slide-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
}
.home-main-slide-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #d9dee0;
  max-width: 450px;
}
.home-main-slide-button {
  font-family: "Manrope";
  padding: 18px 30px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #1c1e1f;
  background: #ffffff;
  width: 50%;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.3;
}
.swiper-pagination-bullet:hover {
  background: white;
  opacity: 1;
}
.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
}
.swiper-pagination-bullet-active {
  height: 14px;
  width: 14px;
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
}
.swiper-button-next {
  width: 40px;
  height: 40px;
}
.swiper-button-prev {
  width: 40px;
  height: 40px;
}
.swiper-button-next:hover path {
  fill: #c49a6c;
}
.swiper-button-next:hover circle {
  stroke: #c49a6c;
}
.swiper-button-prev:hover path {
  fill: #c49a6c;
}
.swiper-button-prev:hover circle {
  stroke: #c49a6c;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-prev {
  transform: rotate(180deg);
}
.swiper-button-prev.swiper-button-home-main {
  transform: rotate(0deg);
}
.NavigationCart-prev:hover path {
  fill: none;
}
.NavigationCart-next:hover path {
  fill: none;
}
.NavigationCartcontent:after .swiper-button-disabled {
  content: "" !important;
}
.main-grid-top {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0px;
  padding-top: 120px;
}
.main-grid-top li {
  padding: 20px;
}
.padding__top30 {
  padding-top: 30px;
}
.main-grid-top li {
  background-size: 110%;
  -webkit-transition: background-size 0.3s ease-in;
  transition: background-size 0.3s ease-in;
}

.main-grid-top li:hover {
  background-size: 120%;
}
.main-grid-top-1 {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: column;
  padding: 0px !important;
}
.main-grid-top-2 {
  grid-area: 2 / 1 / 3 / 3;
}
.main-grid-top-3 {
  grid-area: 1 / 3 / 3 / 5;
  background-image: url(../images/grid3.png);
  background-size: cover;
  background-position: top;
}
.main-grid-top-4 {
  grid-area: 1 / 5 / 2 / 6;
  background-image: url(../images/grid4.png);
  background-size: cover;
  background-position: top;
}
.main-grid-top-5 {
  grid-area: 1 / 6 / 2 / 7;
  background-image: url(../images/grid5.png);
  background-size: cover;
  background-position: top;
}
.main-grid-top-6 {
  grid-area: 2 / 5 / 3 / 7;
  background-image: url(../images/grid6.png);
  background-size: cover;
  background-position: top;
}
.main-grid-bottom-1 {
  grid-area: 3 / 1 / 4 / 2;
  background-image: url(../images/gridBot1.png);
  background-size: cover;
  background-position: top;
}
.main-grid-bottom-2 {
  grid-area: 3 / 2 / 4 / 3;
  background-image: url(../images/gridBot2.png);
  background-size: cover;
  background-position: top;
}
.main-grid-bottom-3 {
  grid-area: 3 / 3 / 4 / 4;
  background-image: url(../images/gridBot3.png);
  background-size: cover;
  background-position: top;
}
.main-grid-bottom-4 {
  grid-area: 3 / 4 / 4 / 7;
  background-image: url(../images/gridBot4.png);
  background-size: cover;
  background-position: top;
}
.main-grid-bottom-5 {
  grid-area: 4 / 1 / 5 / 4;
  background-image: url(../images/gridBot5.png);
  background-size: cover;
  background-position: top;
}
.main-grid-bottom-6 {
  grid-area: 4 / 4 / 5 / 7;
  background-image: url(../images/gridBot6.png);
  background-size: cover;
  background-position: top;
}
.main-grid-top-1-title {
  max-width: 260px;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.02em;
  color: #1c1e1f;
}
.text-gray {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #808588;
}
.text-gray:hover {
  color: #808588;
}
.text-gray-hover {
  transition: 0.3s;
}
.text-gray-hover:hover {
  color: #c49a6c;
}
.main-grid-1-link img {
  padding-left: 10px;
}
.main-grid-1-link {
  transition: 0.3s;
}
.main-grid-1-link:hover {
  color: #1c1e1f;
}
.main-grid-title {
  max-width: 140px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.main-grid-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: #ffffff;
  transition: 0.3s;
  align-items: center;
}
.main-grid-link:hover {
  color: #c49a6c;
}
.main-grid-link:hover path {
  fill: #c49a6c;
}
.main-grid-link svg {
  margin-left: 10px;
}
.main-grid-link span {
  transition: 0.2s;
}
.main-grid-link:hover span {
  padding-right: 5px;
}
.arrowGray:hover {
  color: #c49a6c;
}
.arrowGray:hover span {
  padding-right: 5px;
}
.arrowGray span {
  transition: 0.2s;
}
.arrowGray:hover path {
  fill: #c49a6c;
}
.arrowGray svg {
  margin-left: 10px;
}
.main-grid-title-long {
  max-width: 250px;
}
.titile-black {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #1c1e1f;
}
.next-cardMiniatur,
.prev-cardMiniatur {
  position: relative;
}
.next-cardMiniatur::after {
  content: url(../images/arrow_dark.svg);
}
.prev-cardMiniatur::after {
  content: url(../images/arrow_dark.svg);
  transform: rotate(-180deg);
  margin-top: 5px;
}
.topPadding {
  padding-top: 120px;
}
.bottomPadding {
  padding-bottom: 120px;
}
.navigation-cardMiniatur {
  width: 100px;
}
.cardMiniatur-card {
  border: 1px solid #fbfbfb;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
  padding-bottom: 20px;
}
.cardMiniatur-card-header img {
  height: 500px;
  object-fit: none;
  transition: 0.3s;
}
.cardMiniatur-card-header img:hover {
  transform: scale(1.1);
}
.cardMiniatur-card-header-teg {
  padding: 5px 10px;
  top: 40px;
  left: 40px;
  width: 80px;
  background: black;
  color: #ffffff;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  z-index: 2;
}
.cardMiniatur-card-content {
  padding-top: 40px;
}
.cardMiniatur-card-conent-model {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #1c1e1f;
}
.cardMiniatur-card-conent-name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: #808588;
}
.cardMiniatur-card-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #c49a6c;
}
.cardMiniatur-card-button {
  color: #ffffff;
  background-color: #1c1e1f;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
  height: 60px;
}
.cardMiniatur-card-button img {
  height: 25px !important;
}
.cardMiniatur-card-button:nth-child(1) {
  width: 75%;
}
.cardMiniatur-card-button:nth-child(2) {
  width: 20%;
}
.swiper-navigation {
  top: -400px;
}
.prev-homeNew {
  left: -50px;
}
.next-homeNew {
  right: -50px;
}
.homeNew-wrapper {
  padding-bottom: 20px;
}
.homeNew-slide {
  height: 500px;
  background-size: auto;
  background-size: cover;
  background-position: top;
}
.homeNew-slide-1 {
  background-image: url(../images/new1.png);
}
.homeNew-slide-2 {
  background-image: url(../images/new2.png);
}
.homeNew-info {
  position: relative;
  top: 75%;
  padding-left: 40px;
  padding-bottom: 20px;
}
.homeNew-info-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 250px;
}
.mailinglist {
  background-image: url(../images/home-mailinglist.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.mailinglist-wrapper {
  padding-top: 200px;
  padding-bottom: 200px;
}
.mailinglist-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.02em;
}
.mailinglist-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #d9dee0;
  padding-bottom: 30px;
}
.mailinglist-input {
  width: 50%;
  background: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding: 10px;
  color: #ffffff;
  border: 1px solid #33383a;
  transition: 0.3s;
}
.mailinglist-input:hover {
  border: 1px solid #808588;
}
.mailinglist-input:active {
  border: 1px solid #808588;
}

.mailinglist-input:focus-visible {
  color: #ffffff;
  border: 1px solid #808588;
  border-radius: 0px;
  outline: none;
}
.mailinglist-button {
  color: #1c1e1f;
  background: #ffffff;
  align-items: center;
  padding: 10px 80px;
  border: none;
  margin-left: 20px;
}
.home-help {
  background-image: url(../images/help.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 180px;
  padding-left: 80px;
  padding-bottom: 180px;
}
.home-help-wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
}
.home-help-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.home-help-subtitle {
  max-width: 250px;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #d9dee0;
}
.home-help-button {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #1c1e1f;
  padding: 18px 30px;
  border: none;
  background: #ffffff;
}
.home-brand {
  border: 1px solid #d9dee0;
  height: 400px;
  margin-right: 15px;
}
.home-brand-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #33383a;
  padding-left: 15px;
}
.home-brand-subtext {
}
footer {
  padding-top: 70px;
  background: #fbfbfb;
  border-top: 1px solid #d9dee0;
}
.text-footer-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #33383a;
  padding-top: 10px;
}
.footer-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
  background: #1c1e1f;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
  padding: 18px 30px;
  border: none;
}
.footer-gray {
  background: #f0f2f2;
}
.footer-icon {
  width: 50%;
}
.footer-icon img {
  transition: 0.3s;
}
.footer-icon img:hover {
  transform: scale(1.1);
}
.main-grid-top-1 {
  padding: 0px;
}
.bgfour-hundred-four {
  background-image: url(../images/404.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.button__four-hundred-four {
  width: 560px;
}
.regular16__four-hundred-four {
  max-width: 390px;
}
.link__return:hover {
  color: #bc905f;
}
.grid__news {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.grid__news-wrapper {
  height: 400px;
  background-image: url(../images/new1.png);
  background-size: cover;
  background-position: bottom;
}
.grid__news-info {
  position: relative;
  top: 75%;
  padding-left: 40px;
  padding-bottom: 20px;
}
.news-template {
  background-image: url(../images/news.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news-template__text-tittle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #808588;
  padding-left: 10px;
}
.button__news {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
  padding: 18px 30px;
  background: #1c1e1f;
  border: none;
  width: 25%;
}
.cardMiniatur-card-four.cardMiniatur-card-mini img {
  object-fit: scale-down;
  height: 380px;
}
.return__crumbs {
  padding-top: 90px;
  padding-bottom: 20px;
}
.return__padding {
  padding-top: 20px;
  padding-bottom: 40px;
}
.return__pading-text {
  padding-top: 10px;
}
.return__padding-top {
  padding-top: 20px;
}
.marginBottom {
  margin-bottom: 120px;
}
.tovar-cart-info-top {
  padding-top: 60px;
}
.tovar-cart-black-title {
  max-width: 400px;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.02em;
  color: #1c1e1f;
}
.tovar-cart-black-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #33383a;
}
.tovarLineGray {
  padding-right: 5px;
}
.tovar-cart-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #c49a6c;
}
.tovar-cart-gray-wrapper {
  background: #fbfbfb;
  border-top: 1px solid #d9dee0;
  border-bottom: 1px solid #d9dee0;
  position: sticky;
  top: 0;
  z-index: 2;
}
.tovar-cart-gray-wrapper-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #000000;
}
.tovar-cart-gray-wrapper-link a {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #33383a;
  align-items: center;
  display: flex;
}
.tovar-cart-gray-wrapper-link a:active,
.tovar-cart-gray-wrapper-link a:hover,
.tovar-cart-gray-wrapper-link a:focus {
  color: #808588;
}
.tovar-cart-gray-wrapper-link li {
  padding-right: 25px;
}
.tovar-cart-gray-wrapper-link-button {
  border: none;
  padding: 10px 30px;
  background: #1c1e1f;
  color: #ffffff;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
}
.tovar-cart-gray-wrapper-two {
  background: #fbfbfb;
}
.tovar-cart-gray-two-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.tovar-cart-gray-two-grid-1 {
  grid-area: 1 / 1 / 2 / 2;
}
.tovar-cart-gray-two-grid-2 {
  grid-area: 2 / 1 / 3 / 2;
}
.tovar-cart-gray-two-grid-3 {
  grid-area: 1 / 2 / 3 / 3;
}
.tovar-cart-gray-two-grid-4 {
  grid-area: 1 / 3 / 2 / 4;
}
.tovar-cart-gray-two-grid-5 {
  grid-area: 2 / 3 / 3 / 4;
}
.cart-bg-and-text-content {
  color: #ffff;
}
.cart-bg-and-text-content-wrapper {
  width: 50%;
}
.cart-bg-and-text-content-wrapper-right {
  margin-left: auto;
}
.cart-bg-and-text-content-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.02em;
}
.cart-bg-and-text-content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #d9dee0;
}
.cart-bg-and-text-content-1 {
  background-image: url(../images/cartbg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cart-bg-and-text-content-2 {
  background-image: url(../images/cartbg-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid rgb(217 222 224 / 12%);
  border-bottom: 1px solid rgb(217 222 224 / 12%);
}
.cart-bg-and-text-content-3 {
  background-image: url(../images/cartbg-3.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.buttonBlack {
  border: none;
  background: #1c1e1f;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
  align-items: center;
  padding: 14px 30px;
  color: #ffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  min-width: 200px;
  margin-right: 10px;
}
.tovar-cart-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #33383a;
}
.tovar-cart-info-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.02em;
  color: #1c1e1f;
}
.tovar-cart-info-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #33383a;
}
.border-bottom-gray {
  border-bottom: 1px solid #d9dee0;
}
.tovar-cart-info a {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #33383a;
  align-items: center;
  display: flex;
}
.tovar-cart-imgButton {
  padding-left: 15px;
}

.tovar-cart-imgButton img {
  height: 250px;
  object-fit: cover;
  object-position: top;
}
.tovar-cart-button {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
  padding: 18px 30px;
  background: #1c1e1f;
  width: 100%;
}
.instructions-for-use {
  margin-bottom: 120px;
}
.instructions-for-use {
  background-image: url(../images/Instructions-for-use.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.instructions-for-use-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}
.instructions-for-use-text {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.instructions-for-use-button {
  padding: 18px 30px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #1c1e1f;
  background: #ffffff;
  width: 250px;
}
.cardMiniatur-card-mini {
  height: 100%;
}
/* .cardMiniatur-card-mini img {
  height: 380px;
  object-fit: scale-down;
} */
.cart-bg-and-text-content-1-1 {
  background-image: url(../images/cartbg-1.1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 330px;
}
.cart-bg-and-text-content-1-2 {
  background-image: url(../images/cartbg-1.2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 330px;
}
.cart-bg-and-text-content-1-3 {
  background-image: url(../images/cartbg-1.3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 330px;
}
.cart__wrapper {
  margin-top: 15px;
  padding: 30px 30px 30px 20px;
  background: #ffffff;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
}
.cart__list {
  padding-right: 40px;
}
.cart__list-number {
  border: 1px solid #d9dee0;
  border-radius: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart__hr {
  margin: 30px 0px;
}
.cart__collapse {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #d9dee0;
  border-radius: 1px;
  align-items: baseline;
  width: 35%;
}
.light_bg {
  background: #fbfbfb;
}
.contacts__wrapper {
  width: 74.1%;
}
.contacts__wrapper-two {
  width: 25%;
}
.contact__ul-one {
  padding-right: 30px;
}
.cart__contact {
  background: #ffffff;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
  padding: 20px;
}
.cart__contact-item {
  border-bottom: 1px solid #d9dee071;
}
.accordion-button:focus {
  border-color: inherit !important;
  box-shadow: none !important;
  color: #1c1e1f !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 135% !important;
}
.accordion-button:not(.collapsed) {
  color: #1c1e1f !important;
  background-color: none !important;
  box-shadow: inherit !important;
  background-color: inherit !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../images/garantii.svg);
  transform: rotate(-90deg);
  height: 15px;
  width: 15px;
  background-size: contain;
}
.accordion-button:after {
  background-image: url(../images/garantii.svg);
  transform: rotate(0deg);
  transition: 0.3s;
  height: 15px;
  width: 15px;
  background-size: contain;
}
.accordion-item-guarantees {
  border: none;
  border-bottom: 1px solid #d9dee04f;
}
@media (max-width: 990px) {
  .home-main-slide-title {
    font-size: 30px;
  }
  .home-main-slider {
    padding-right: 10px;
  }
  .bottomPadding {
    padding-bottom: 60px;
  }
  .topPadding {
    padding-top: 60px;
  }
  .home-help-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .swiper-button-home-main {
    display: none;
  }
  .main-grid-top {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 160px);
    padding-top: 0px;
  }
  .main-grid-top-1 {
    padding-top: 60px !important;
    grid-area: 1 / 1 / 2 / 3;
  }
  .main-grid-top-2 {
    grid-area: 2 / 1 / 3 / 3;
  }
  .main-grid-top-3 {
    grid-area: 5 / 1 / 7 / 3;
  }
  .main-grid-top-4 {
    display: none;
  }
  .main-grid-top-5 {
    display: none;
  }
  .main-grid-top-6 {
    display: none;
  }
  .main-grid-title {
    max-width: 300px;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.02em;
  }
  .main-grid-top-1-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    max-width: 300px;
  }
  .main-grid-bottom-1 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .main-grid-bottom-2 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .main-grid-bottom-3 {
    display: none;
  }
  .main-grid-bottom-4 {
    display: none;
  }
  .main-grid-bottom-5 {
    grid-area: 4 / 1 / 5 / 3;
  }
  .main-grid-bottom-6 {
    display: none;
  }
  .cardMiniatur-card-content {
    padding-bottom: 0px;
  }
  .cardMiniatur-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
  .home-brand {
    margin-top: 10px;
    height: 160px;
  }
  .next-homeNew {
    right: 0px;
  }
  .prev-homeNew {
    left: -80px;
  }
  .cardMiniatur-card-header-teg {
    left: 20px;
  }
  .homeNew-info {
    position: absolute;
    top: 75%;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .home-help {
    background-position: right;
    background-position-x: -560px;
    align-items: center;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
  }
  .home-help-title {
    width: 90%;
  }
  .home-help-subtitle {
    max-width: 100%;
    width: 90%;
  }
  .home-help-button {
    width: 90%;
  }
  .swiper-navigation {
    top: -10px;
  }
  .mailinglist-input {
    width: 100%;
  }
  .mailinglist-button {
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
  }
  .footer-icon {
    width: 25%;
  }
  .site-name-footer {
    color: #80858888;
  }
  footer {
    padding-top: 30px;
  }
  .button__four-hundred-four {
    width: 300px;
  }
  .grid__news {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .grid__news-info {
    top: 67%;
  }
  .button__news {
    width: 50%;
  }
  .marginBottom {
    margin-bottom: 60px;
  }
  .tovar-cart-gray-wrapper-two {
    padding-top: 60px;
  }
  .tovar-cart-gray-wrapper-link li {
    padding: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
  }
  .swiper-wrapper.topPadding {
    height: 300px;
  }
  .swiper-slide.cardMiniatur-card {
    box-shadow: none;
  }
  .swiper-slide.cardMiniatur-card img {
    height: 100%;
    object-fit: contain;
  }

  .cardMiniatur-card-mini {
    height: 500px;
    background-size: auto;
  }
  .buttonBlack_wrapper button:nth-child(1) {
    width: 44%;
  }
  .buttonBlack_wrapper button:nth-child(2) {
    width: 54%;
  }
  .buttonBlack {
    min-width: 100px;
    padding: 14px 10px;
    font-size: 11px;
    line-height: 140%;
    margin: 0px;
  }
  #Характеристики {
    padding-bottom: 40px;
  }
  .tovar-cart-imgButton {
    padding-top: 0px;
  }
  .instructions-for-use {
    margin-bottom: 60px;
  }
  .cart-bg-and-text-content-wrapper {
    width: 100%;
  }
  .cart-bg-and-text-content-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }
  .cart-bg-and-text-content-1 {
    background-image: none;
    background-color: #000000;
  }
  .cart-bg-and-text-content-2 {
    background-image: none;
    background-color: #000000;
  }
  .cart-bg-and-text-content-3 {
    background-image: none;
    background-color: #000000;
  }
  .cart-bg-and-text-content-3 .container.bottomPadding.topPadding {
    padding-bottom: 0px !important;
  }
  .instructions-for-use-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    padding-bottom: 30px;
  }
  .instructions-for-use-button {
    width: 100%;
  }
  .wrapperOmzor {
    padding-top: 20px;
    height: 300px;
    margin: 0px;
    padding-bottom: 60px;
  }
  .swiper-slide.cardMiniatur-card {
    padding: 0px;
  }
  .contacts__wrapper {
    width: 100%;
  }
  .contacts__wrapper-two {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .cardMiniatur-card-content {
    padding-top: 0px;
  }
  .grid__news {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

@media (max-width: 450px) {
  .button__news {
    width: 70%;
  }
}
